$surface-lvl-0--100--dark: #131415;
$surface-lvl-1--100--dark: #131415;

$header-background--dark: #303845;
$header-burger-background--dark: #fff;
$header-burger-icon-lines--closed--dark: #fff;
$header-burger-icon-lines--opened--dark: #333;
$header-burger-icon-lines--opened--hover--dark: #555;

$footer-background--dark: #303845;
$footer-socials-background--dark: #6351ce;
$footer-rights-background--dark: #303845;

$color-text-initial--dark: #ffffffcc;
$color-text-initial--20--dark: #ffffff20;
$color-text-secondary--dark: #000;
$color-text-label--dark: #a8a7a5;

$color-icon-initial--dark: #f36c15;
