<header [ngStyle]="{'background-color': headerBackground, 'border-bottom': headerBorder}" [class.header-hidden]="!headerVisible" >
  <nav>
    <ul>
      <li>
        <a (click)="navigate('same', '/home')">
          <img ngSrc="assets/images/logo.png" width="900" height="138" alt="Logo" priority>
        </a>
      </li>
      <li>
        <a  (click)="navigate('same', '/projects')">{{ "პროექტები" | translate  }}</a>
      </li>
      <li>
        <a   (click)="navigate('same', '/about-us')">{{ "ჩვენ შესახებ" | translate  }}</a>
      </li>
      <li>
        <a  (click)="navigate('same', '/contact')">{{ "კონტაქტი" | translate }}</a>
      </li>
      <li>
        <a  (click)="changeLanguage()">{{ eng() }}</a>
      </li>
      <li id="burger-menu-icon">
        <a>
          <i class="pi pi-bars"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
