<header [ngStyle]="{'background-color': headerBackground, 'border-bottom': headerBorder()}" [class.header-hidden]="!headerVisible">
  <nav>
    <ul>
      <li>
        <a [href]="getHref('/home')">
          <img ngSrc="assets/images/logo.png" width="900" height="138" alt="Logo" priority>
        </a>
      </li>
      <li>
        <a [href]="getHref('/projects')">
          {{ "პროექტები" | translate }}
        </a>
      </li>
      <li>
        <a [href]="getHref('/about-us')">
          {{ "ჩვენ შესახებ" | translate }}
        </a>
      </li>
      <li>
        <a [href]="getHref('/contact')">
          {{ "კონტაქტი" | translate }}
        </a>
      </li>
      <li>
        <a [href]="getLanguageHref()">
          {{ eng() }}
        </a>
      </li>
      <li id="burger-menu-icon">
        <a [href]="'#'">
          <app-burger-menu></app-burger-menu>
        </a>
      </li>
    </ul>
  </nav>
</header>
