@use "breakpoints.mixins" as responsive;

@include responsive.respond-to(lg) {
  .page-masthead {
    &--title {
      bottom: unset;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &--subtitle {
      left: unset;
    }
  }
}

@include responsive.respond-to(md) {
  .page-masthead {

    &--h1 {
      font-size: 3rem;
    }

    &--subtitle {
      font-size: 3.5rem;
    }
  }

  .speeddial-wrapper {
    right: var(--page-padding--md);
    font-size: 0.7rem;
  }
}

@include responsive.respond-to(sm) {
  .page-masthead {

    &--h1 {
      font-size: 2rem;
    }

    &--subtitle {
      font-size: 2.5rem;
    }
  }
}

@include responsive.respond-to(sm) {
  .speeddial-wrapper {
    right: var(--page-padding--md);
    font-size: 0.6rem;
  }
}
