<section>
  <div class="page-masthead">
    <div class="page-masthead--bg">
      <div class="page-masthead--bg--cover"></div>
    </div>
    <div class="page-masthead--title">
      <div class="page-masthead--subtitle custom-uppercase">აღმოაჩინე მეტი</div>
      <h1 class="page-masthead--h1 text-white">დაგვიკავშირდით</h1>
    </div>
    <div class="speeddial-wrapper">
      <p-speeddial [model]="dialContacts" direction="left">
        <ng-template #button let-toggleCallback="toggleCallback">
          <p-button id="dial-icon" icon="pi pi-phone" severity="secondary" (click)="toggleCallback($event)"></p-button>
        </ng-template>
        <ng-template #item let-item>
          <div class="contact-speeddial-item">
            <a [href]="'tel:'+item.number">{{ item.number }}</a>
          </div>
        </ng-template>
      </p-speeddial>

      <p-speeddial [model]="messageContacts" direction="left">
        <ng-template #button let-toggleCallback="toggleCallback">
          <p-button id="message-icon" icon="pi pi-send" severity="secondary" (click)="toggleCallback($event)"></p-button>
        </ng-template>
        <ng-template #item let-item>
          <div class="social-speeddial-item" [ngStyle]="{background: item.background}">
            <a [href]="item.href"><i class="pi" [ngClass]="item.icon" style="font-size: 2rem"></i></a>
          </div>
        </ng-template>
      </p-speeddial>
    </div>
  </div>
</section>
