.burger-menu {
  .burger-icon {
    width: 30px;
    height: 25px;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .line {
      width: 100%;
      height: 4px;
      background-color: var(--header-burger-icon-lines--closed);
      transition: all 0.3s ease;
      &:nth-child(1) {
        transform-origin: top left;
      }
      &:nth-child(3) {
        transform-origin: bottom left;
      }

      &.open:nth-child(1) {
        background-color: var(--header-burger-icon-lines--opened);
        transform: rotate(45deg) translate(1px, 0);
      }
      &.open:nth-child(2) {
        opacity: 0;
      }
      &.open:nth-child(3) {
        background-color: var(--header-burger-icon-lines--opened);
        transform: rotate(-45deg) translate(0, 0);
      }
    }
  }

  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--header-burger-background);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      visibility: visible;
      opacity: 1;
    }

    .menu-nav {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;

        li {
          margin: 15px 0;

          a {
            font-size: 2rem;
            text-decoration: none;
            color: var(--header-burger-icon-lines--opened);
            transition: color 0.3s;
            &:hover {
              color: var(--header-burger-icon-lines--opened--hover);
            }
          }
        }
      }
    }
  }
}
