@use "font.mixins" as font;

:host ::ng-deep .home-carousel {
  .p-ripple.p-button {
    width: auto;
    height: auto;
  }

  .carousel-prev-icon, .carousel-next-icon {
    height: 2rem;
    width: 3rem;
    color: var(--color-icon-initial);
  }
}

.main-page {
  width: 100%;
  min-height: 100vh;

  .header {
    height: 70px;
  }

  main {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.home-carousel {
  width: 100%;
}

.carousel--item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    aspect-ratio: 920 / 820;
    object-fit: cover;
    max-height: 50vh;
    width: 80%;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
  }

  .overlay {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); // Tint effect
    color: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 0 0 4px 4px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: rgba(0, 0, 0, 0.6); // Tint effect on hover
      transition: 0.3s;

      .project-name::after {
        width: 100%;
      }
    }
  }

  .project-name {
    border-bottom: 3px solid transparent;
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    font-family: GeorgianMtavruli, Helvetica, Arial, sans-serif;

    &::after {
      content: "";
      position: absolute;
      bottom: -3px; // Adjust depending on your layout
      left: 0;
      width: 0;      // Start with no width
      height: 3px;
      background-color: #ffffff;
      transition: width 0.3s; // Animate the width over 1 second
    }
  }

  .animate {
    animation: fadeInUp 0.8s ease-in-out forwards;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(0, 50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

