<div class="main-page">
  <div class="header">
    <app-header></app-header>
  </div>
  <main>
    <p-carousel
      [value]="projects()"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true"
      class="home-carousel"
      (onPage)="onPageChange()">
      <ng-template let-project #item>
        <div class="carousel--item">
          <img [src]="project.coverImage" alt="Project Image">
          <div class="overlay">
            <h2 class="project-name" [class.animate]="animate">{{ project.projectName }}</h2>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </main>
</div>
