<div class="contact-container">
  <div class="map-container">
    <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d884.5433585730319!2d44.77955275062582!3d41.780098030203106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40446deaf5292563%3A0x13724fb438591c29!2z4YOc4YOd4YOT4YOQ4YOgIOGDkeGDneGDruGDo-GDkOGDoSDhg6Xhg6Phg6nhg5AgIzU!5e0!3m2!1ska!2sge!4v1742329931658!5m2!1ska!2sge"
             height="500" style="border:0;grid-area: iframe-area" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div style="grid-area: info-area" class="contact-info">
      <h2>საკონტაქტო ინფორმაცია</h2>
      <div class="info">
        <div class="info--left">
          <p><strong>ტელეფონი:</strong></p>
          <p><strong>ტელეფონი:</strong></p>
          <p><strong>ელ. ფოსტა:</strong></p>
        </div>
        <div class="info--right">
          <a href="tel:(+995) 599 93 42 11">(+995) 599 93 42 11</a><br>
          <a href="tel:(+995) 555 93 42 11">(+995) 555 93 42 11</a><br>
          <a href="mailto:newidea&#64;gmail.com">newidea&#64;gmail.com</a>
        </div>
      </div>
      <p>
        <strong>მისამართი:</strong><br>
        თბილისი, ნოდარ ბოხუას #5
      </p>
    </div>
  </div>
