@use "sass:map";
@use "../palette/light/light-palette" as *;
@use "../palette/dark/dark-palette" as *;

$theme-map: (
  "dark": (
    --surface-lvl-0--100: $surface-lvl-0--100--dark,
    --surface-lvl-1--100: $surface-lvl-1--100--dark,
  ),
  "light": (
    --surface-lvl-0--100: $surface-lvl-0--100--light,
    --surface-lvl-1--100: $surface-lvl-1--100--light,
  )
);

@each $name, $theme in $theme-map {
  [data-theme="#{$name}"] {
    @each $key, $value in map.get($theme-map, "#{$name}") {
      & {
        #{$key}: $value;
      }
    }
  }
}
