@use "sass:map";
@use "../palette/light/light-palette" as *;
@use "../palette/dark/dark-palette" as *;

$theme-map: (
  "dark": (
    --surface-lvl-0--100: $surface-lvl-0--100--dark,
    --surface-lvl-1--100: $surface-lvl-1--100--dark,
    --header-background: $header-background--dark,
    --header-burger-background: $header-burger-background--dark,
    --header-burger-icon-lines--opened: $header-burger-icon-lines--opened--dark,
    --header-burger-icon-lines--opened--hover: $header-burger-icon-lines--opened--hover--dark,
    --header-burger-icon-lines--closed: $header-burger-icon-lines--closed--dark,
    --footer-background: $footer-background--dark,
    --footer-socials-background: $footer-socials-background--dark,
    --footer-rights-background: $footer-rights-background--dark,
    --color-text-initial: $color-text-initial--dark,
    --color-text-initial--20: $color-text-initial--20--dark,
    --color-text-label: $color-text-label--dark,
    --color-text-secondary: $color-text-secondary--dark,
    --color-icon-initial: $color-icon-initial--dark
  ),
  "light": (
    --surface-lvl-0--100: $surface-lvl-0--100--light,
    --surface-lvl-1--100: $surface-lvl-1--100--light,
    --header-background: $header-background--light,
    --header-burger-background: $header-burger-background--light,
    --header-burger-icon-lines--opened: $header-burger-icon-lines--opened--light,
    --header-burger-icon-lines--opened--hover: $header-burger-icon-lines--opened--hover--light,
    --header-burger-icon-lines--closed: $header-burger-icon-lines--closed--light,
    --footer-background: $footer-background--light,
    --footer-socials-background: $footer-socials-background--light,
    --footer-rights-background: $footer-rights-background--light,
    --color-text-initial: $color-text-initial--light,
    --color-text-initial--20: $color-text-initial--20--light,
    --color-text-label: $color-text-label--light,
    --color-text-secondary: $color-text-secondary--light,
    --color-icon-initial: $color-icon-initial--light
  )
);

@each $name, $theme in $theme-map {
  [data-theme="#{$name}"] {
    @each $key, $value in map.get($theme-map, "#{$name}") {
      & {
        #{$key}: $value;
      }
    }
  }
}
