*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 16px; // sets a consistent base font size
  line-height: 1.5;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

body {
  font-family: Georgian, Roboto, sans-serif;
  background-color: var(--surface-lvl-0--100);
}

ul, ol {
  list-style-type: none;
}

button {
  background: none;
  outline: none;
  box-shadow: none;
  border: none;
}

a {
  text-decoration: none;
  color: var(--color-text-initial)
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --page-padding : 3.75rem
}
