@font-face {
  font-family: 'avaza';
  src: url('/src/assets/fonts/avaza.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avazaMtavruli';
  src: url('/src/assets/fonts/avaza_mtavruli.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

