$surface-lvl-0--100--light: #131415;
$surface-lvl-1--100--light: #131415;

$header-background--light: #303845;
$header-burger-background--light: #fff;
$header-burger-icon-lines--closed--light: #fff;
$header-burger-icon-lines--opened--light: #333;
$header-burger-icon-lines--opened--hover--light: #555;

$footer-background--light: #303845;
$footer-socials-background--light: #6351ce;
$footer-rights-background--light: #303845;

$color-text-initial--light: #ffffffcc;
$color-text-initial--20--light: #ffffff20;
$color-text-secondary--light: #000;
$color-text-label--light: #a8a7a5;

$color-icon-initial--light: #f36c15;
