<footer class="footer">

  <section class="section section--socials">
    <aside>
      ჩვენი სოციალური ქსელები:
    </aside>
    <aside class="section--socials--right">
      <i class="pi pi-facebook"></i>
      <i class="pi pi-instagram"></i>
      <i class="pi pi-whatsapp"></i>
      <i class="pi pi-google"></i>
    </aside>
  </section>

  <section class="section section--info">
    <aside class="section--info--row">
      <div>კონტაქტი</div>
      <ul>
        <li>
          <i class="pi pi-phone"></i>
          <a href="tel:+995599934211">599 93 42 11</a>
        </li>

        <li>
          <i class="pi pi-phone"></i>
          <a href="tel:+995599934211">599 93 42 11</a>
        </li>

        <li>
          <i class="pi pi-google"></i>
          <a href="mailto:newidea@gmail.com">newidea&#64;gmail.com</a>
        </li>

        <li>
          <i class="pi pi-address-book"></i>
          <address>
            თბილისი, ნოდარ ბოხუას #5
          </address>
        </li>
      </ul>
    </aside>
    <aside class="section--info--row">
      <div>ჩვენს შესახებ</div>
      <ul>
        <li>
          <p>
            ჩვენი კომპანია დაარსდა 2015 წლის 1 აპრილს და ამ დღიდან მოყოლებული ახდენილი აქვს უამრავი ადამიანის ოცნება და სურვილები. ჩვენი კომპანია არის სანდოობის და ხარისხის გარანტი. აგისრულებთ ნებისმიერი სახის არქიტექტურულ ოცნება
          </p>
        </li>
      </ul>
    </aside>
    <aside class="section--info--row">
      <div>ნავიგაცია</div>
      <ul>
        <li>
          <a  [href]="getHref('/about-us')">{{ "პროექტები" | translate  }}</a>
        </li>
        <li>
          <a    [href]="getHref('/about-us')">{{ "ჩვენ შესახებ" | translate  }}</a>
        </li>
        <li>
          <a  [href]="getHref('/contact')">{{ "კონტაქტი" | translate }}</a>
        </li>
      </ul>
    </aside>
    <aside class="section--info--row">
      <div>პროექტები</div>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </aside>
  </section>

  <section class="section section--rights">
    <aside>
      <span>© 2025 Copyright: www.buildnewidea.ge</span>
    </aside>
    <aside>
      <img ngSrc="/assets/images/logo2.webp" width="100" height="40" alt="NI">
    </aside>
    <aside>
      <span>DEVELOPED BY 10GGO.GE</span>
    </aside>
  </section>

</footer>
