@use "breakpoints.mixins" as responsive;

@include responsive.respond-to(md) {
  .speeddial-wrapper {
    right: var(--page-padding--md);
    font-size: 0.7rem;
  }
}


@include responsive.respond-to(sm) {
  .speeddial-wrapper {
    right: var(--page-padding--md);
    font-size: 0.6rem;
  }
}
